.Body
{ font-family: ariel;}

.container {  display: grid;
    grid-template-columns: 7% 1fr 7%;
    grid-template-rows: 20% 30% 5% 45% 10%;
    gap: 0px 0px;
    grid-auto-flow: container;
    grid-template-areas:
      "top-left-corner title top-right-corner"
      "left-side areas right-side"
      "left-side spacer right-side"
      "left-side bottom-areas right-side"
      "left-side footer right-side";
  }
  
  .area-container {  display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 10% 80% 10%;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Top-space Top-space Top-space"
      "BSM Web-Designs Salesforce"
      "bottom-space bottom-space bottom-space";
  }
  
  .bottom-areas{  display: grid;
    grid-template-columns: 33% 67%;
    grid-template-rows: 80%;
    grid-auto-columns: 100%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "links-area Extra-Support-area";
  }
  
  .links-area { grid-area: links-area; }
  
  .Extra-Support-area { grid-area: Extra-Support-area; }
  
  .BSM { grid-area: BSM;
        border: 2px dotted black;
        color: white;
        background-color: rgb(54, 54, 167);
        margin: 15px; }
  
  .Web-Designs { grid-area: Web-Designs;
        border: 2px dotted black;
        background-color: rgb(54, 54, 167);
        margin: 15px;
     }
  
  .Salesforce { grid-area: Salesforce; 
        border: 2px dotted black;
        color: white;
        background-color: rgb(54, 54, 167);
        margin: 15px;
     }
  
  .Top-space { grid-area: Top-space; }
  
  .bottom-space { grid-area: bottom-space; }
  
  .title { 
    grid-area: title;
    background-color: grey;
    color: black;


 }
  
  .areas { 
    grid-area: areas;
    background-color: rgb(54, 54, 167);
    color: white;
 }
  
  .spacer { 
    grid-area: spacer;
    background-color: rgb(54, 54, 167);
}
  
  .bottom-areas { 
    grid-area: bottom-areas;
    background-color:antiquewhite;
    color:black;
 }
  
  .footer { 
    grid-area: footer;
    background-color: black;
    color: white; }
  
  .top-left-corner { 
    grid-area: top-left-corner;
    background-color: black; }
  
  .left-side { 
    grid-area: left-side;
    background-color: rgb(54, 54, 167);}
  
  .top-right-corner { 
    grid-area: top-right-corner;
    background-color: black;
 }
  
  .right-side { 
    grid-area: right-side;
    background-color: rgb(54, 54, 167);
 }
  